body{
	background-color: black;
	color: white;
	font-family: Courier New, Courier;
}

#btn {
  background-color: black; /* button color */
  color: brightpink; /* text color */
  font-family: Courier New, Courier;
  padding: 16px;
  font-size: 16px;
  border: 2px solid white;
  cursor: pointer;
  font-weight: bold;
}


